.app {
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	padding: 0.5rem;
	gap: 0.5rem;
	box-sizing: border-box;
}

.chat-log {
	flex-grow: 1;
	overflow-y: auto;
}

.nickname {
	font-weight: bold;
}

.message-form {
	display: flex;
	gap: 0.5rem;
}

.nickname-input {
	min-width: 3rem;
}

.message-input {
	flex-grow: 1;
	min-width: 6rem;
}
